* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 36);
    color: white;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

header {

    background-color: rgb(18, 18, 62);
    height: 80px;
    width: 100vw;
    flex-wrap: wrap;
    transition: all 0.1s ease-out;
    
}

@media screen and (max-width: 432px) {
    header {
        width: 120vw;

    }
}

@media screen and (max-width: 357px) {
    header {
        width: 130vw;

    }
}

@media screen and (max-width: 749px) {
    header {
        height: 110px;

    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5px;
   
}

.left {
    font-size: 1.5rem;
}



nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    padding: 20px;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);

}

@media screen and (max-width: 560px) {
    nav ul li {
        padding: 10px;
    }
}

#firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftsection {
    font-size: 2.4rem;
    font-weight: bold;
    transition: all 0.01s ease-out;
    flex-wrap: wrap;
}

.leftsection .buttons {
    padding: 50px 0;
}

.leftsection .btn {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.leftsection .btn a {
    list-style: none;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 944px) {

    .leftsection {
        font-size: 1.5rem;
    }
}

#firstsection>div {
    width: 30%;
    margin: 90px 0;

}

.rightsection img {
    width: 90%;
    flex-wrap: wrap;
    transition: all 0.001s ease-out;
}

@media screen and (max-width: 944px) {

    .rightsection img {
        width: 120%;
    }
}

@media screen and (max-width:577px) {

    .rightsection img {
        width: 130%;
    }
}

.leftsection .purple {
    color: rgb(170, 107, 228);
}

#element {
    color: rgb(170, 107, 228);
    transition: all 5s ease-out;
}

.line {
    height: 1.2px;
    background-color: #9c97f1;
    margin: 18px auto;
    width: 90vw;

}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 70vh;
}

.secondsection h2 {
    margin-top: 13px;
    font-size: 1.9rem;
}

.text-gray {
    color: white;
    font-size: 2rem;

}

.secondsection .box {
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 145px;
}

.image-top {
    width: 27px;
    position: relative;
    top: -32px;
    left: -9px;
}

.box {
    display: flex;

}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 20px;
    margin-left: -20px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 250px;
    font-size: 12px;
    margin-left: -23px;

}

.vertical-desc a {

    color: rgb(59, 59, 135);
    font-size: 15px;
}

#skills-image {
    height: 27px;
    width: 30px;
    margin-left: -6px;
}

footer {
    background-color: #0e0e1a;

}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-between;
}

.footer-second {
    display: flex;
    font-weight: bold;
    gap: 17px;
}

.footer-second .logos {
    border-radius: 7px;
    cursor: pointer;
}



.footer>div {
    width: 250px;
}

.text-center {
    color: gray;
    text-align: center;
    padding: 12px 0;
}

.contact {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(170, 107, 228);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.form input[type="text"] {
    width: 800px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(0, 0, 36);
    color: white;
    font-size: 16px;
    border: 1px solid white;
    margin: 10px;
    padding-left: 10px;
}

.form #input-third {
   height: 150px;
}
.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(170, 107, 228);
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;

}

.send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 107, 228);
    width: 140px;
    height: 40px;
    color: white;
    font-size: 19px;
    border: 2px solid rgb(170, 107, 228);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(170, 107, 228);
    font-size: 40px;
    flex-direction: column;
}

#intro {
    font-size: 17px;
    color: green;
    margin-top: 90px;

}

.about-content {
    display: flex;
    margin-left: 110px;
    align-items: center;
    max-width: 100%;
    max-height: 550px;
  
}
.right-contact{
    margin-left: 70px;
    margin-bottom: 60px;
}
.intro{
    color: rgb(170, 107, 228);
    font-size: 40px;
    flex-direction: column;
}
.right-content{
    margin-top: 70px;
}
.contact-logo {
    margin-top: 50px;
    gap: 100px;
}
.personal-info{
    margin-top: 20px;
    
}
.personal-info img {
   border-radius: 20px;
    
}
.personal-info .personal{
    margin-left: 20px;
    font-size: 20px;
}